@import '../Components/Home/pse.css';
.navbar {
    position: absolute;
    width: 1242px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: #43571C;

}
.navbar__titulo {
    position: absolute;
    width: 399px;
    height: 29px;
    left: 462px;
    top: 21px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
}

.navbar__img{
    position: absolute;
    left: 32.26%;
    right: 64.52%;
    top: 0.55%;
    bottom: 98.17%;
}

.container__noticias {
    width: 975px;
    height: 350px;
    left: 133px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 20px;
    margin: 40px 30px;
    background: rgba(255, 255, 255, 0.59);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.container__noticias::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../../../Media/Icons/Rectangle.svg) center center no-repeat;
  z-index: 1999;
  width: 75px;
  height: 106px;
}

.container__noticias img {
    position: absolute;
    width: 393px;
    height: 286px;
    left: 0px;
    top: 22px;
}
.container__news{
    margin: 10px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.container__noti {
    position: absolute;
    width: 466px;
    height: 237px;
    left: 450px;
    top: 32px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    text-align: justify;

    color: #000000;
}
.container__noticia {
    position: absolute;
    width: 466px;
    height: 237px;
    left: 450px;
    top: 32px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    text-align: justify;

    color: #000000;
}
.encabezado__clasificado {
    position: absolute;
    width: 365px;
    height: 51px;
    left: 438px;
    top: 660px;

    background: #3E3401;
}
.h2__noticias {
    position: absolute;
    width: 230px;
    height: 28px;
    left: 80px;
    top: 11px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #FFFFFF;

}

.rectangle{
    position: absolute;
    width: 43px;
    height: 42px;
    left: -38px;
    top: 25.71px;

    background: #FFFFFF;
    transform: rotate(-45.57deg);
}

.container__clasificados {
    /* position: absolute; */
    width: 975px;
    height: 350px;
    left: 133px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 20px;
    margin: 40px 30px;
    background: rgba(255, 255, 255, 0.59);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.container__clasificados img {
    position: absolute;
    width: 393px;
    height: 286px;
    left: 0px;
    top: 26px;
}

.container__clasi{
    position: absolute;
    width: 466px;
    height: 237px;
    left: 450px;
    top: 32px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    text-align: justify;

    color: #000000;
}

.container__clasificados::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../../../Media/Icons/Rectangle.svg) center center no-repeat;
  z-index: 1999;
  width: 75px;
  height: 106px;
}

.title__noticias {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--brown);
  margin: 0 auto;
  max-width: 350px;
  position: relative;
  font-family: var(--main-font-family);
  color: white;
}

.title__noticias::after {
  position: absolute;
  width: 40px;
  height: 40px;
  content: "";
  background: white;
  left: -20px;
  transform: rotate(45deg);
}

.title__noticias h2 {
  font-size: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
