.clasificados h1{
    text-align: center;
    align-items: center;
    font-family: 'Roboto Condensed';
    margin: auto;
    font-size: 18px;
    width: 200px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 0px solid rgba(62, 52, 1, 1);
    border-bottom: 30px solid rgba(62, 52, 1, 1);
    border-top: 15px solid rgba(62, 52, 1, 1);
    color:white;
}

.clasificado{
    margin: 50px 10px;
    padding: 30px 20px;
    box-shadow: 2px 2px 2px 2px rgb(80, 79, 79);
    border-radius:10px;
    width: 80%;
    
}


.clasificado figure{
    width:95%;
    margin:0;
    
}

.clasificado figure img{
    width:100%;
    align-items:center;
}

    
.clasificado h2{
    font-family: 'Roboto Condensed';
    font-weight: 800;
    text-align: left;
    font-size: 16px;
    padding: 20px 0 0 20px;
}


.clasificado p{
    text-align: justify;
    margin: 30px 30px 0 30px;  
    
}

.rectangulo{
    display: flex;
    justify-content: space-between;
    
}

.rectangulo p{
    font-family: 'Roboto Condensed';
    background-color: #3E3401;
    color: white;
    border-radius:10px;
    padding: 5px 20px;
    height: 20px;
    font-size: 14px;
    margin:45px 0 0 35px;
    
    
}


.rectangulo img{
    width:100px;
    
}